.rootFlex {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;

}



.rootGrid {
  width: 1000px;
  display: grid;
  grid-template-columns: 1fr 400px;
  column-gap: 80px;
  align-items: center;
  justify-content: space-between;

  .jobdescription-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 290px;

    svg {
      padding-top: 50%;
      width: 100%;
      max-width: 400px;
      height: auto;
      display: block;
      margin: 0 auto;
      fill: #3498db;
      stroke: #2c3e50;
      stroke-width: 2;
      padding-bottom: 5%;
      padding-right: 10%;
    }

    h1 {
      font-size: 3rem;
      font-weight: bold;
    }

    p {
      max-width: 700px;
      font-size: 1rem;
      font-weight: normal;
      line-height: 1.5;
    }
  }
}

.content a:hover {
  color: #98afc6;
}

.contact-section {
  background-color: #98afc6;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.contact-section .container {
  margin: 0 auto;
  display: flex;
}

.contact-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 24px;
}

.contact-section p {
  font-size: 18px;
  line-height: 1.4;
  text-align: initial;
}

.contact-section {
  position: relative;
}

.contact-section .left {
  display: grid;
  align-items: self-start;
  align-content: start;
  columns: 5rem;
}

.contact-section .social-icons {
  display: flex;
  justify-content: flex-end;
}

.social-icons a {
  display: inline-block;
  margin-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.social-icons img {
  vertical-align: middle;
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

.right {
  text-align: right;
  padding-left: 35%;
}

.social-icons {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-left: 80%;
}

.social-icons a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin-bottom: 10px;
}

.social-icons a:last-child {
  margin-bottom: 0;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.social-icons a:hover {
  color: #32567a;
}

::ng-deep.mat-mdc-form-field-subscript-wrapper {
  display: none !important;
  ;
}

form {
  width: 380px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  gap: 1rem;
  background-color: white;
  box-shadow: rgba(43, 78, 216, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
}

h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  user-select: none;
}

a {
  text-decoration: none;
}

.signup-link {
  padding: 1rem;
  text-align: center;
}