<div class="container">
    <form [formGroup]="singupForm">

        <a routerLink="/">
            <h1> Job Board</h1>
        </a>
        <!-- ** first name INPUT **  -->
        <mat-form-field appearance="outline" class="username">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="first_name_control">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <!-- ** last name INPUT **  -->
        <mat-form-field appearance="outline" class="username">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="last_name_control">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>

        <!-- ** EMAIL INPUT **  -->
        <mat-form-field appearance="outline" class="details">
            <mat-label>Email</mat-label>
            <input matInput placeholder="john@doe.com" formControlName="email_control">
            <mat-icon matPrefix>mail</mat-icon>
        </mat-form-field>

        <!-- ** PASSWORD INPUT **  -->
        <mat-form-field appearance="outline" class="details">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Password" formControlName="password_control">
            <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>

        <!-- **  confirme PASSWORD INPUT **  -->
        <mat-form-field appearance="outline" class="details">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" formControlName="confirm_password_control">
            <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>
        <!--** select-->

        <mat-form-field class="details">
            <select matNativeControl required formControlName="selectFormControl">
                <ng-container *ngFor="let item of userRoles">
                    <option label="{{item.label}}" [value]="item.id"></option>
                </ng-container>

            </select>
        </mat-form-field>



        <!-- ** SUBMIT INPUT **  -->
        <button mat-stroked-button color="primary" (click)="onSubmit()">Register Now</button>

        <!-- ** Sign Up Link **  -->
        <div class="signup-link">
            Already have an account? <a routerLink="/">login now</a>
        </div>
    </form>
</div>